
{% extends "base.html" %}

{% block content %}

<h2>Login</h2>

{% if error %}
    <p>
        {{ error }}
    </p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <div>
        <label for="username">
            Username:
        </label>

        <input
            type="text"
            id="username"
            name="username"
            required
            autocomplete="username"
        >
    </div>

    <br>

    <div>
        <label for="password">
            Password:
        </label>

        <input
            type="password"
            id="password"
            name="password"
            required
            autocomplete="current-password"
        >
    </div>

    <br>

    <button type="submit">
        Login
    </button>
</form>

{% endblock %}

